@model Paginate<ProductListViewModel>
@{
    ViewData["Title"] = "Index";
    int count = ((Model.CurrentPage - 1) * 10) + 1;
    
}
<section class="section main-section">
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Products
            </p>
            <div class="card-header-icon">
                <span class="icon"><a asp-action="Create"><i class="far fa-plus-square"></i></a></span>
            </div>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th class="image-cell">Images</th>
                        <th>№</th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pr in Model.Items)
                    {
                        <tr>
                            <td class="image-cell"><img src="~/img/@pr.Image" alt="" /></td>
                            <td data-label="Number">@count</td>
                            <td data-label="Products">@pr.Name</td>
                            <td data-label="Price">@pr.Price</td>
                            <td data-label="CategoryId">@pr.CategoryName</td>
                            <td class="actions-cell">
                                <div class="buttons center nowrap">
                                    <a asp-action="Detail" asp-route-id="@pr.Id">
                                        <button class="button small green --jb-modal" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </button>
                                    </a>
                                    <a asp-action="Update" asp-route-id="@pr.Id">
                                        <button style="background-color:yellow" class="button small --jb-modal" type="button">
                                            <span class="icon"><i class="fas fa-pen-square"></i></span>
                                        </button>
                                    </a>
                                    <form asp-action="Delete" asp-route-id="@pr.Id" method="post">
                                        <button class="button small red --jb-modal" data-target="sample-modal" type="submit">
                                            <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
            <div class="table-pagination">
                
                <ul class="pagination justify-content-center">
                    @if (Model.PageCount > 0)
                    {
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">
                                    Previus
                                </a>
                            </li>
                        }
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@i">
                                    @i
                                </a>
                            </li>
                        }

                        @if (Model.CurrentPage < Model.PageCount)
                        {
                            <li class="page-item @(Model.CurrentPage == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">
                                    Next
                                </a>
                            </li>
                        }

                    }
                    @*@for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active disabled" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
        }
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "") ">
            <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">
                ...
            </a>
        </li>
        <li class="page-item @(Model.CurrentPage == Model.PageCount ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">
                ...
            </a>
        </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="~/admin/js/custom.js"></script>
